<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <h6 class="navbar_text"><strong>Vempo</strong></h6>
      <%#= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <%# <li class="nav-item active"> %>
<!------------------START THE MODAL------------------------------------------->
          <div class="nav-item active" type="button" data-bs-toggle="modal" data-bs-target="#myModal">
            <button type="button" class="nav-link">
                My Creations
            </button>
          </div>
          <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" id="box">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel"> My creations</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body">
                  <div class="container">
                    <div class="row">
                      <div class="cards-container">
<!------------------START THE CARD------------------------------------------->
                        <% @projects.each do |project| %>
                          <div class="project-card">
                            <div class="image-placeholder" style="background-image:url('<%= cl_image_path project.photo.key if project.photo.attached? %>');">
                            </div>
                            <div class="image" style="background-image"></div>
                            <div class="title">
                              <div class="left-box">
                                <h5><strong><%= project.name %></strong></h5>
                              </div>
                              <div class="right-box">
                                <p><%= project.created_at.strftime("%d/%m/%Y") %></p>
                              </div>
                              <div class="btn-cancel">
                                <p><%= link_to "Delete", project_path(project), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
                              </div>
                            </div>
                            <h5><i class="fa-solid fa-ellipsis" style="color: #000000;"></i></h5>
                          </div>
                        <% end %>
 <!------------------START THE CARD------------------------------------------->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">close</button>
                </div>
              </div>
            </div>
          </div>
<!----------------------FINISHED THE MODAL----------------------------------------------------->
          <%# <li class="nav-item active">
            <%= link_to "testhome", testhome_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <% if current_user %>
              <%= link_to "Logout", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link" %>
              <% else %>
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            <% end %>
          </li>

          <%# <li class="nav-item"> %>
            <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
            <%#= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link" %>
          <%# </li> %>

          <%# <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> %>
            <%# <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
          <%# </a> %>
            <%# <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown"> %>
              <%#= link_to "Action", "#", class: "dropdown-item" %>
              <%#= link_to "Another action", "#", class: "dropdown-item" %>
              <%#= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            <%# </div> %>
          <%# </li> %>
        <%# else %>
          <%# <li class="nav-item"> %>
            <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
          <%# </li> %>

        <% end %>
      </ul>
    </div>
  </div>
</div>
