<div class="main-container">
  <div class="header-container">
    <h1>Let sound take shape</h1>
    <div class="description">
      <h5>Vempo merges the realms of audio and visual <br> by giving sound a personality to dance with.</h5>
    </div>
    <div class="buttons">
      <a class="purple-btn">start from a template <i class="fa-solid fa-arrow-down" style="color: #000000;"></i></a>
      <a class="green-btn">start from a blank canvas  <i class="fa-solid fa-arrow-right" style="color: #000000;"></i></a>
    </div>
    </div>
    <h4>How it works</h4>
    <div class="how-to">
      <div class="tile-green">
        <h2 class="num-outline">1</h2>
        <p>Create a visual composition using shapes and graphics.</p>
        <%= image_tag("step1.svg", alt: "Step 1", style: "width: 80%; height: 80%;") %>
      </div>
      <div class="tile-purple">
        <h2 class="num-outline">2</h2>
        <p>Assign behaviours and modifiers to your graphics.</p>
        <%= image_tag("step2.svg", alt: "Step 1", style: "width: 80%; height: 80%;") %>
      </div>
      <div class="tile-yellow">
        <h2 class="num-outline">3</h2>
       <p>Play your selected audio, and watch your canvas dance!</p>
       <%= image_tag("step3.svg", alt: "Step 1", style: "width: 80%; height: 80%;") %>
      </div>
    </div>
    <h4>Quick-start templates</h4>
    <div class="template-container">
      <% @projects.each do |project| %>
        <div class="template-card-b" style="background-image:url('<%= cl_image_path project.photo.key if project.photo.attached? %>');">
          <h6><%= project.name %></h6>
        </div>
      <% end %>
    </div>
    <div class="back-to-top">
    <a class="yellow-btn">back to top <i class="fa-solid fa-arrow-up" style="color: #000000;"></i></a>
  </div>
</div>
