<div class="main-container">
  <div class="header-container">
    <h1>Let sound take shape</h1>
    <div class="description">
      <h5>Vempo merges the realms of audio and visual <br> by giving sound a personality to dance with.</h5>
    </div>
    <div class="buttons">
      <a class="purple-btn">start from a template <i class="fa-solid fa-arrow-down" style="color: #000000;"></i></a>
      <a class="green-btn" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">start from a blank canvas  <i class="fa-solid fa-arrow-right" style="color: #000000;"></i></a>

      <!-- START Modal to disp MOVE TO A PARTIAL-->
      <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-
        labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content align-items-center">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Choose a sound to play with:</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
              <div class="modal-body d-flex flex-column w-50">
                <button class="btn"
                        id="btn-mic"
                        data-bs-target="#exampleModalToggle2"
                        data-bs-toggle="modal">
                        Use microphone
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="26" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                        <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                        </svg>
                </button>
                <br>
                <button class="btn"
                        id="btn-upload"
                        data-bs-target="#exampleModalToggle2"
                        data-bs-toggle="modal">
                        Upload a sound
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="26" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                        <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                        </svg>
                </button>
                <br>
                <button class="btn"
                        id="btn-choose"
                        data-bs-target="#exampleModalToggle2"
                        data-bs-toggle="modal">
                        Choose a sound from library
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="26" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                        <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                        </svg>
                </button>
              </div>
                <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>
          <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1"></div>
          <!-- END Modal to disp MOVE TO A PARTIAL-->
      </div>
    </div>
    <h4>How it works</h4>
    <div class="how-to">
      <div class="tile-green">
        <h2 class="num-outline">1</h2>
        <p>Create a visual composition using shapes and graphics.</p>
        <%= image_tag("step1.svg", alt: "Step 1", style: "width: 80%; height: 80%;") %>
      </div>
      <div class="tile-purple">
        <h2 class="num-outline">2</h2>
        <p>Assign behaviours and modifiers to your graphics.</p>
        <%#= image_tag("step2.svg", alt: "Step 1", style: "width: 80%; height: 80%;") %>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19.78 4H4.22A2.25 2.25 0 002 6.29v11.42A2.25 2.25 0 004.22 20h15.56A2.25 2.25 0 0022 17.71V6.29A2.25 2.25 0 0019.78 4zm-1.15 13.12H5.37a.57.57 0 01-.46-.89l2.42-3.58a.54.54 0 01.91 0l2.4 3.55 3.76-5.58a.54.54 0 01.91 0l3.78 5.61a.57.57 0 01-.46.89z"></path></svg>
      </div>
      <div class="tile-yellow">
        <h2 class="num-outline">3</h2>
       <p>Play your selected audio, and watch your canvas dance!</p>
       <%= image_tag("step3.svg", alt: "Step 1", style: "width: 80%; height: 80%;") %>
      </div>
    </div>
    <h4>Quick-start templates</h4>
      <div class="template-container">
      <div class="template-card" style="background-image: url('<%= image_path "step1.svg" %>')">
       <h6>Template 1</h6>
      </div>
      <div class="template-card" style="background-image: url('<%= image_path "blob.svg" %>')" >
       <h6>Template 2</h6>
      </div>
      <div class="template-card" style="background-image: url('<%= image_path "step2.svg" %>')">
        <h6>Template 3</h6>
      </div>
      <div class="template-card" style="background-image: url('<%= image_path "step3.svg" %>')">
        <h6>Template 4</h6>
      </div>
      <div class="template-card" style="background-image: url('<%= image_path "blob (1).svg" %>')">
        <h6>Template 5</h6>
      </div>
      <div class="template-card" style="background-image: url('<%= image_path "test-template-project.png" %>')">
        <h6>Template 6</h6>
      </div>
    </div>

    <h4> My creations</h4>

    <div class="cards-container">
      <% @projects.each do |project| %>
        <div class="project-card">
          <div class="image-placeholder" style="background-image:url('<%= cl_image_path project.photo.key if project.photo.attached? %>');">
          </div>
          <div class="title">
            <div class="left-box">
              <h5><strong><%= project.name %></strong></h5>
            </div>
            <div class="right-box">
              <p><%= project.created_at.strftime("%d/%m/%Y") %></p>
            </div>
          </div>
          <h5><i class="fa-solid fa-ellipsis" style="color: #000000;"></i></h5>
        </div>
      <% end %>
    </div>

    <div class="back-to-top">
    <a class="yellow-btn">back to top <i class="fa-solid fa-arrow-up" style="color: #000000;"></i></a>
  </div>
</div>
