
<div data-controller="new-shape load-shapes delete-shape move-shape" data-new-shape-url-value="<%= shapes_url %>" data-load-shapes-shape-info-value="<%= @shapes.to_json() %>" data-delete-shape-all-shapes-value="<%= @shapes.to_json() %>">


  <div class="parent"  data-load-shapes-project-id-value="<%= @project.id %>">
    <div class="" id="myCanvas" data-action="mousedown->new-shape#mouseDown mouseup->new-shape#mouseUp click->delete-shape#deleteShape" data-new-shape-target="p5Canvas" data-delete-shape-target="canvas">
  </div>

  <script>
    function setup() {
      const canvas = createCanvas(windowWidth, windowHeight - 45);
      // let mic = new p5.AudioIn();
      // mic.start();
      canvas.parent('myCanvas')
      console.log('canvas');
    }
  </script>

  <div class="side-bar child" data-new-shape-target="checkboxes">
    <div class="form-check" data-new-shape-target="checkbox" data-action="click->new-shape#handleCheckboxClick" data-shape="triangle">
      <input class="form-check-input" type="checkbox" value="" id="triangle" >
      <label class="form-check-label" for="triangle">
        Triangle
      </label>
    </div>

    <div class="form-check" data-new-shape-target="checkbox" data-action="click->new-shape#handleCheckboxClick" data-shape="circle" >
      <input class="form-check-input" type="checkbox" value="" id="circle">
      <label class="form-check-label" for="circle">
        Circle
      </label>
    </div>

    <div class="form-check" data-new-shape-target="checkbox" data-action="click->new-shape#handleCheckboxClick" data-shape="square">
      <input class="form-check-input"  type="checkbox" value="" id="square">
      <label class="form-check-label" for="square">
        Square
      </label>
    </div>

    <div class="form-check" data-new-shape-target="checkbox" data-action="click->new-shape#handleCheckboxClick"  data-shape="oval">
      <input class="form-check-input" type="checkbox" value="" id="oval">
      <label class="form-check-label" for="oval">
        Oval
      </label>
    </div>

    <div class="form-check" data-new-shape-target="checkbox" data-action="click->new-shape#handleCheckboxClick" data-shape="rectangle">
      <input class="form-check-input"  type="checkbox" value="" id="rectangle">
      <label class="form-check-label" for="rectangle">
        Rectangle
      </label>
    </div>

        <% if @project.music_file == nil %>
          <div class="bottom-microphone" >
            <button data-controller="microphone" data-action="click->new-shape#requestMicrophoneAccess">
              <i class="fa-solid fa-microphone"></i>
            </button>
            <button data-action="click->new-shape#stopRecording">
              <i class="fa-solid fa-microphone-slash"></i>
            </button>
          </div>
        <% end %>
<%# <%= raise %>

      <button data-controller="last" data-action="click->delete-shape#canDelete click->new-shape#cannotDraw">Delete</button>

            <div class="music-controle">
            <div class="play">
                  <button
                    data-controller="play"
                   data-action="click->play#play">
                    <i class="fa-solid fa-play"></i>
                  </button>
            </div>

            <div class="pause">
                  <button
                    data-controller="play"
                   data-action="click->play#pause">
                   <i class="fa-solid fa-pause"></i>
                  </button>
            </div>
            </div>

      <%# START OF SHAPE SELECTOR FORM %>
    <div class="hidden-form">
      <%= simple_form_for((@shape), data: { new_shape_target: "formElement"}) do |f| %>
      <%= f.input :start_x, input_html: { data: {new_shape_target: "input1"} } %>
      <%= f.input :start_y, input_html: { data: {new_shape_target: "input2"} } %>
      <%= f.input :width, input_html: { data: {new_shape_target: "input3"} } %>
      <%= f.input :height, input_html: { data: {new_shape_target: "input4"} } %>
      <%= f.input :project_id, input_html: { data: {new_shape_target: "projectId"}, value: @project.id } %>
      <div><%= f.submit %></div>
      <% end %>
    </div>
    <%# END OF SHAPE SELECTOR FORM %>

    <%# START OF ANIMATION SELECTOR FORM %>
    <div class="hidden-form">
      <%= simple_form_for((@shape), data: { move_shape_target: "animation"}) do |f| %>
      <%= f.input :start_x, input_html: { data: {move_shape_target: "transform"} } %>
      <%= f.input :start_y, input_html: { data: {move_shape_target: "rotate"} } %>
      <%= f.input :start_y, input_html: { data: {move_shape_target: "rotate"} } %>
      <%= f.input :project_id, input_html: { data: {move_shape_target: "projectId"}, value: @project.id } %>
      <div><%= f.submit %></div>
      <% end %>
    </div>
    <%# END OF ANIMATION SELECTOR FORM %>
    <div>
      <input type="color" data-new-shape-target="colorPicker">
    </div>

    <div class="screenshot" data-controller="screenshot" data-screenshot-target="container">
    <%# <button class="btn btn-primary btn-lg" data-action="click->screenshot#screenshot">Screenshot</button> %>
      <%= simple_form_for(@project, data: { screenshot_target: "form", action: "submit->screenshot#screenshot" }) do |f| %>
        <%= f.input :screenshot, label: false, input_html: { data: { screenshot_target: "photo" }, style: "display:none;"   } %>
        <%= f.submit "Screenshot", class: "btn btn-primary btn-lg", data: { screenshot_target: "input" }  %>
      <% end %>
    </div>

    <% if @project.music_file.attached? %>
      <%= cl_video_tag @project.music_file.key,:source_types => [:mp3],:controls => true,:poster => false, class: "track-play play-track", id: "play-track"%>
    <%end%>
    </div>
</div>
